
.column {
  position: relative;
  display: inline-block;
  
  width: 19rem;
  height: 68vh;

  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 1em;
  padding: 0.5em;
  padding-top: 4em;
  border-radius: 16px 16px 8px 8px;
  background-color: #fdfdfd;
  overflow: hidden;
  
}

.title {
  position: absolute;
  top: 0;
  left: 0;

  padding: 4% 0;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  color: #333333;
  text-align: center;
}

.title.column-1 {
  background: #ffce94;
}

.title.column-2 {
  background: #ffd8b8;
}

.title.column-3 {
  background: #ffe0d8;
}

.title.column-4 {
  background: #a4ee9a;
}

.column__content {
  position: relative;
  margin-bottom: 2em;
  height: 95%;
  padding-top: 4em;
}

.card-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  height: 90%;
  overflow-y: scroll;
 
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
