@font-face {
  font-family: "Fira Mono";
  src: url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
}

@font-face {
  font-family: "Tilt Warp";
  src: url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
}
