@import "../../styles/card-temp";
@import "../../styles/fonts";

@mixin topic-label-color($R, $G, $B) {
  background-color: rgba($R, $G, $B, 0.6);
  border: rgba($R, $G, $B, 1) 1px solid;
}

.card {
  @extend .card-temp;
  width: 100%;
  height: 8em;

  &:hover {
    background-color: #fbff0020;
  }

  &-header {
    margin: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;

    @for $i from 1 through 3 {
      .topic-#{$i} {
        font-size: 65%;
        font-weight: 600;
        color: #333333;
        padding: 5px;
        border-radius: 4px;
        font-family: "Fira Mono", monospace;
        @if $i == 1 {
          @include topic-label-color(160, 240, 240);
        } @else if $i == 2 {
          @include topic-label-color(250, 230, 140);
        } @else if $i == 3 {
          @include topic-label-color(260, 100, 100);
        }
      }
    }
  }

  &-content {
    overflow: scroll;
    width: 100%;
    height: 100%;
    textarea {
      border: none;
      outline: none;
      box-shadow: none;
      display: inline-block;
      background-color: inherit;
      font-size: 18px;
      margin: 1em 0 ;
      font-family: sans-serif;
      resize: none;
      width: 100%;
      padding: 0;
    }

    textarea:active,
    textarea:focus {
      outline: none;
      border: none;
    }

    textarea::-webkit-scrollbar {
      display: none;
    }
    button {
      position: absolute;
      bottom: .5em;
      right: .5em;
      display: inline-block;
      border: none;
      background-color: transparent;
      cursor: pointer;
      
    }
    svg{
      transform: scale(1.5)
  
    }
  }
}
